/*
Theme Name: LRSSB
Author: Jack Williams 
Description: Here lies the theme for 2021 version of the LRSSB's WordPress-based website
Version: 1.0

Happy dancers make the best authors.
*/

/* General */

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #EDEDED;
  margin: 0px;
}

.container {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 1400px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

/* Links */

a {
  text-decoration:none;
  list-style-type:none;
  color:#2f2f2f;
  font-weight:500;
}

ul {
  margin: 0;
  padding: 0; 
}

.breadcrumb {
  background-color:#084c98;
  color:#fff;
  padding-top:10px;
  padding-bottom:10px;
}

.breadcrumb a {
  color:#fff;
}

/* Columns */

.column-1 {
  float: left;
  width: 100%;
  padding: 0 10px;
}

.column-2 {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.column-3 {
  float: left;
  width: 33.3%;
  padding: 0 10px;
}

.column-4 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.column-5 {
  float: left;
  width: 20%;
  padding: 0 10px;
}

.column-news-left {
  float: left;
  width: 75%;
  padding: 0 10px;
}

.column-news-right {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
  padding-top:15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* News */

.newsheaderimage {
  width:100%;
}

/* Article Links */

li {
  text-decoration:none;
  list-style-type:none;
  margin-bottom:10px;
}

.nav-links a {
  margin-bottom:10px;
}

/* Fonts */

h1 {
  font-size:3.25rem;
  font-family: "Ubuntu", sans-serif;
  color: #084c98;
  font-weight:800;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  color: #084c98;
  font-weight:800;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  color: #084c98;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  color: #084c98;
}

h5 {
  font-family: "Ubuntu", sans-serif;
  color: #084c98;
}

.lead {
  font-family: "Ubuntu", sans-serif;
  color: #084c98;
  font-size:1.25rem;
  font-weight:600;
}

/* Buttons */

.primary-button {
  font-family: "Ubuntu", sans-serif;
  background:none;
  color: #49afe0;
  padding:8px;
  border-radius:5px;
  border-color: #084c98;
  border-style: solid;
  border-width: 3px;
}

.secondary-button {
  font-family: "Ubuntu", sans-serif;
  background:#084c98;
  color: #FFF;
  padding:10px;
  border-radius:5px;
  border:none;
}

.white-outline-button {
  font-family: "Ubuntu", sans-serif;
  background:none;
  color: #FFF;
  padding:10px;
  border-radius:5px;
  border:none;
  border-color:#fff;
  border-style:solid;
}

/* Cards */

li.card p {
  color:#2f2f2f;
}

.card {
  text-align: center;
  background-color: #fff;
  text-align:left;
}

.lowercard {
  padding:26px;
  margin-bottom:20px;
  min-height:220px;
}

.thumbnailimage {
  width: 100%;
  overflow: hidden;
  height: 300px;
}

.allresourcescard {
  text-align: center;
  background-color: #fff;
  border-top-style: solid;
  border-top-width: 5px;
  border-color:#084c98;
  color:#084c98;
  text-align:center;
  padding-top:60px;
  padding-bottom:60px;
  padding-left:30px;
  padding-right:30px;
  min-height:300px;
}

.logincard {
  text-align: center;
  background-color: #49afe0;
  color:#fff;
  text-align:center;
  padding-top:63px;
  padding-bottom:64px;
  min-height:300px;
  padding-left:30px;
  padding-right:30px;
}

/* Menu */

.navwrap {
  background-color:#fff;
}

.nav-link {
  font-weight:300;
}

.topnav {
    overflow: hidden;
    background-color: #fff;
    padding-top:20px;
    padding-bottom:20px;
}

.logo  {
  padding-left:0 !important;
}
  
  .topnav a {
    float: left;
    display: block;
    color: #2f2f2f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Ubuntu", sans-serif; 
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  a.search {
  float:right;
  padding-left:0;
}

/* Homepage */

.homepageheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/wp-content/uploads/2021/03/TfGM.png);
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:500px;
}

.homepageaboutbox {
  background-color:#fff;
  padding:30px;
  margin: 0 auto;
  z-index:99999;
  max-width:800px;
  margin-top:-140px;
}

h1.headerdisplaytext {
  font-size:52px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 350px; 
  margin:0;
}

.bluecontainer {
  background-color:#084c98;
  text-align:center;
  color:#fff;
  margin-top:30px;
  padding-top:55px;
  padding-bottom:65px;
  padding-left:30px;
  padding-right:30px;
}

/* Team & Board Pages */

.teamcard {
  background-color: #fff;
  text-align:left;
  min-height:300px;
}

.teamlowercard {
  background-color: #fff;
  text-align:left;
  min-height:280px;
  padding:16px;
}

/* Footer */

footer {
  background-color:#fff;
  padding-top:60px;
  padding-bottom:60px;
  margin-top:30px;
}

.bluefooter {
  background-color:#084c98;
  color:#fff;
  padding-top:15px;
  padding-bottom:15px;
}

/* Mobile */

  @media only screen and (max-width: 968px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .homepageheader {
      height:400px;
    }

  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .column-1 {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
    .column-2 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .column-3 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .column-4 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .column-5 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }